In [35]:
import pandas as pd
import numpy as np
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from datetime import datetime, date, time
import time
from selenium import webdriver
from bs4 import BeautifulSoup
import re
from selenium.common.exceptions import UnexpectedAlertPresentException
from selenium.common.exceptions import NoAlertPresentException

In [15]:
df  = pd.read_csv("Names_10.csv")
df

               Name
0      Abhijit Kane
1  Abhimanyu Munjal
2      Abhishek Deo
3   Abhishek Sharma
4      Achin Kochar
5      Aditya Singh
6     Ajay Lavakare
7        Alok Rawat
8       Amit Bhasin
9    Amit Chaudhary

In [31]:
name_list = []
linkedin_urls = {}
for index, row in df.iterrows():
    name = row['Name']
    name_list.append(name)
print(name_list)

['Abhijit Kane', 'Abhimanyu Munjal', 'Abhishek Deo', 'Abhishek Sharma', 'Achin Kochar', 'Aditya Singh', 'Ajay Lavakare', 'Alok Rawat', 'Amit Bhasin', 'Amit Chaudhary']

In [60]:
# Configure Selenium webdriver
options = webdriver.ChromeOptions()
options.add_argument('--headless')  # Run Chrome in headless mode
# Specify the path to the ChromeDriver executable

chrome_driver_path = 'C:\Program Files\Google\Chrome\Application\chromedriver.exe'

# Configure Selenium webdriver with the path to ChromeDriver
driver = webdriver.Chrome(executable_path=chrome_driver_path)

<ipython-input-60-0e4c47e6ec27>:9: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=chrome_driver_path)

In [61]:
for name in name_list:
    # name = "Abhijit Kane"
    query = f'{name} site:linkedin.com'
    search_url = f'https://www.google.com/search?q={query}'

        # Perform the search
    driver.get(search_url)
    html = driver.page_source

        # Parse the search results page with BeautifulSoup
    soup = BeautifulSoup(html, 'html.parser')

        # Find the first LinkedIn URL in the search results
    first_link = soup.find('div', class_='yuRUbf').a['href']
    linkedin_urls[name] = first_link    
    # if first_link:
    #     linkedin_url = first_link['href']
    #     linkedin_urls[name] = linkedin_url

    # Close the Selenium webdriver
driver.quit()

# print(first_link)
print(linkedin_urls)

{'Abhijit Kane': 'https://in.linkedin.com/in/abhijitkane', 'Abhimanyu Munjal': 'https://in.linkedin.com/in/abhimanyu-munjal-2224a5b0', 'Abhishek Deo': 'https://in.linkedin.com/in/abhishek-deo', 'Abhishek Sharma': 'https://www.linkedin.com/in/sharmaabhishek', 'Achin Kochar': 'https://in.linkedin.com/in/achin-kochar-8b3204178', 'Aditya Singh': 'https://in.linkedin.com/in/aditya-singh-aaa80719', 'Ajay Lavakare': 'https://in.linkedin.com/in/ajaylavakare', 'Alok Rawat': 'https://www.linkedin.com/in/alok-rawat-in', 'Amit Bhasin': 'https://in.linkedin.com/in/amit-bhasin-b42990a2', 'Amit Chaudhary': 'https://in.linkedin.com/in/4daxis'}

In [62]:
rows = [{'Name': name, 'LinkedIn ID': url} for name, url in linkedin_urls.items()]

# Create a DataFrame from the list of dictionaries
df1 = pd.DataFrame(rows)

# Save the DataFrame to a new CSV file
df1.to_csv('Names_Linkedin.csv', index=False)
df1

               Name                                        LinkedIn ID
0      Abhijit Kane             https://in.linkedin.com/in/abhijitkane
1  Abhimanyu Munjal  https://in.linkedin.com/in/abhimanyu-munjal-22...
2      Abhishek Deo            https://in.linkedin.com/in/abhishek-deo
3   Abhishek Sharma         https://www.linkedin.com/in/sharmaabhishek
4      Achin Kochar  https://in.linkedin.com/in/achin-kochar-8b3204178
5      Aditya Singh   https://in.linkedin.com/in/aditya-singh-aaa80719
6     Ajay Lavakare            https://in.linkedin.com/in/ajaylavakare
7        Alok Rawat          https://www.linkedin.com/in/alok-rawat-in
8       Amit Bhasin    https://in.linkedin.com/in/amit-bhasin-b42990a2
9    Amit Chaudhary                  https://in.linkedin.com/in/4daxis